.my-body {
    background-color: rgb(94, 102, 111);
    width: 100vw;
    height: 100vh;
    overflow: auto;
}
.my-container {
    margin: 2rem auto;
    width: 80vw;
    font-family: sans-serif;
    background-color: lightgrey;
    border: 4px solid black;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 10px black;
}

.heading {
    font-size: 5vw;
    color: rebeccapurple;
    margin: 3rem auto;
    display: flex;
    justify-content: center center;
    text-align: center;
    width: fit-content;
}
.nav-links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center center;
    margin: auto auto 1rem;
    width: fit-content;
    padding: 0;
}
.nav-link-item {
    padding-right: 2vw;
    padding-left: 2vw;
}
.nav-link-text {
    color: black;
}

.site-title {
    font-size: 8vw;
    color: rgb(94, 102, 111);
    font-weight: 700;
    margin: 3rem auto;
    text-align: center;
    display: flex;
    justify-content: center center;
    width: fit-content;
}